/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
} */

.video {
  height: 98%;
  width: 940px;
  /* width: 70vw; */
  border: 2px solid rgba(152, 14, 14, 0.488);
  border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 1255px) {
  .video {
    width: 740px;
  }
}

@media screen and (max-width: 1020px) {
  .video {
    width: 540px;
  }
}

@media screen and (max-width: 790px) {
  .video {
    width: 240px;
  }
}
