.video {
  display: flex;
  height: 98%;
  width: 940px;
  /* width: 70vw; */
  /* border: 2px solid rgba(152, 14, 14, 0.488);
  border-radius: 10px 10px 10px 10px; */
}

@media screen and (max-width: 1255px) {
  .video {
    width: 600px;
  }
}

@media screen and (max-width: 943px) {
  .video {
    width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .video {
    padding-top: 2%;
    height: 100%;
    width: 240px;
  }
}
@media screen and (max-width: 500pc) {
  .video {
    padding-bottom: 60px;
  }
}
