.video {
  display: flex;
  height: 100%;
  width: 940px;
}

@media screen and (max-width: 1255px) {
  .video {
    width: 600px;
  }
}

@media screen and (max-width: 943px) {
  .video {
    width: 500px;
    height: 98%;
  }
}

@media screen and (max-width: 800px) {
  .video {
    padding-top: 2%;
    height: 100%;
    width: 240px;
  }
}
@media screen and (max-width: 500px) {
  .video {
    padding-bottom: 60px;
  }
}
