.container {
  width: 570px;
  height: 270px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  display: none;
  transition: all 0.4s;
}
.description {
  margin: 2.5rem 2rem;
  text-align: center;
}
.info h5 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2%;
  letter-spacing: 8px;
}
.section {
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 1.5rem;
}

.section a {
  color: white;
  text-decoration: none;
  width: 20%;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}
.section span {
  color: white;
  width: 20%;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}
.container:hover .info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container:hover img {
  filter: blur(2px);
}

* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #000000;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #48484882;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px none #ffffff;
}

@media screen and (max-width: 1460px) {
  .container {
    width: 470px;
    height: 222px;
  }
}
@media screen and (max-width: 1210px) {
  .container {
    width: 400px;
    height: 190px;
  }
}
@media screen and (max-width: 1030px) {
  .container {
    width: 700px;
    height: 340px;
  }
}
@media screen and (max-width: 1030px) {
  .container {
    width: 700px;
    height: 340px;
  }
}
@media screen and (max-width: 880px) {
  .container {
    width: 600px;
    height: 290px;
  }
}
@media screen and (max-width: 780px) {
  .container {
    width: 450px;
    height: 220px;
  }
}
@media screen and (max-width: 580px) {
  .container {
    width: 300px;
    height: 145px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 250px;
    height: 130px;
  }
}
