.container {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow-y: auto;
}

@media screen and (max-width: 1030px) {
  .container {
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
  }
}
@media screen and (max-width: 650px) {
  .container {
    height: 65vh;
  }
}
@media screen and (max-width: 450px) {
  .container {
    height: 60vh;
  }
}
