body {
  color: white;
  background-color: black;
}

.span {
  position: absolute;
  bottom: 30px;
  left: 60px;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.render {
  display: flex;
  position: relative;
  /* background-color: red; */
  width: 80vw;
  height: 70vh;
  margin-top: 17vh;
  margin-left: 12vh;
}

.render2 {
  display: flex;
  position: relative;
  /* background-color: red; */
  width: 80vw;
  height: 70vh;
  margin-top: -17vh;
  /* margin-left: 12vh; */
  visibility: hidden;
}

.button {
  visibility: hidden;
  position: absolute;
}

@media screen and (max-width: 1030px) {
  .render {
    width: 70vw;
    margin-top: 20vh;
  }
}
@media screen and (max-width: 720px) {
  .span {
    visibility: hidden;
  }
  .render {
    /* width: 80vw; */

    height: 80vh;
    margin-top: 9vh;
    margin-left: 9.5vh;
  }
}

@media screen and (max-width: 650px) {
  .button {
    visibility: visible;
    height: 40px;
    width: 130px;
    top: 75%;
    left: 35%;
  }
}
@media screen and (max-width: 500px) {
  .span {
    visibility: visible;
    top: 40px;
    left: 40px;
    height: 20px;
  }
  .render {
    width: 85vw;
    height: 55vh;
    margin-top: 28vh;
    margin-left: 3vh;
  }
  .button {
    visibility: visible;
    height: 40px;
    width: 130px;
    top: 80%;
    left: 35%;
  }
}
