body {
  color: white;
  background-color: black;
}
.logo {
  position: absolute;
  width: 250px;
  left: 50px;
  top: 30px;
}
.span {
  position: absolute;
  bottom: 30px;
  left: 60px;
  font-size: 1.3rem;
  letter-spacing: 3px;
}
.button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  right: 80px;
  gap: 10px;
  cursor: pointer;
  letter-spacing: 3px;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btnSocialMedia {
  transition: fill 0.3s;
}
.simbol {
  color: rgb(107, 83, 83);
}

.button:hover .simbol {
  fill: #ce1313;
}
