body {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.866), rgba(0, 0, 0, 0.844)),
    url(/src/img/3.gif);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.render {
  display: flex;
  position: relative;
  width: 80vw;
  height: 70vh;
  margin-top: 17vh;
  margin-left: 12vh;
}

.button {
  visibility: hidden;
  position: absolute;
}

.styleButton {
  background-color: transparent;
  color: white;
  border-radius: 10px 10px 10px 10px;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 60px;
  font-size: 1.3rem;
  letter-spacing: 3px;
  width: 280px;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-fill-color: white;
}

@media screen and (max-width: 1030px) {
  .render {
    width: 70vw;
    margin-top: 20vh;
  }
}
@media screen and (max-width: 720px) {
  .span {
    visibility: hidden;
  }
  .render {
    height: 80vh;
    margin-top: 9vh;
    margin-left: 9.5vh;
  }
}

@media screen and (max-width: 650px) {
  .button {
    visibility: visible;
    height: 40px;
    width: 130px;
    top: 80%;
    left: 40%;
  }
}

@media screen and (max-width: 500px) {
  .span {
    visibility: visible;
    top: 45px;
    left: 40px;
    height: 20px;
    background: none;
    animation: none;
    font-size: 1rem;
  }
  .render {
    width: 85vw;
    height: 55vh;
    margin-top: 20vh;
    margin-left: 3vh;
  }
  .button {
    visibility: visible;
    height: 40px;
    width: 130px;
    top: 80%;
    left: 35%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
