.svgwrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 120px;
  height: 40px;
}

.shape {
  stroke-dasharray: 70 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  height: 40px;
  width: 120px;
}

.text {
  font-family: "Roboto Condensed";
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fff;
  top: -48px;
  position: relative;
  text-decoration: none;
}

.svgwrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.container {
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: rotate(-90deg);
  margin-top: 280px;
  height: 40px;
}
.lists {
  display: flex;
  position: absolute;
  margin-left: -18%;
}
