.list {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: rotate(90deg);
  justify-content: space-between;
  height: 30px;
  width: 300px;
  top: 320px;
  right: -50px;
  align-items: center;
  /* background-color: red; */
}
.link {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 1em;
  letter-spacing: 3px;
  cursor: pointer;
}

@media screen and (max-width: 868px) {
  .list {
    right: -80px;
  }
}
@media screen and (max-width: 700px) {
  .list {
    right: -90px;
  }
}
@media screen and (max-width: 650px) {
  .list {
    visibility: hidden;
  }
}
