.list {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: rotate(90deg);
  justify-content: space-between;
  height: 30px;
  width: 300px;
  top: 360px;
  right: -50px;
  align-items: center;
  /* background-color: red; */
}
.link {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 1em;
  letter-spacing: 3px;
  cursor: pointer;
}
.selected {
  text-decoration: none;
  list-style: none;
  font-size: 1em;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 1s;
  /* text-decoration: underline rgb(20, 132, 225); */
  text-decoration: underline rgb(94, 95, 96);
}

.link:hover {
  text-decoration: underline rgb(20, 132, 225);
}

@media screen and (max-width: 1530px) {
  .list {
    top: 350px;
  }
}
@media screen and (max-width: 1030px) {
  .list {
    right: -90px;
  }
}
/* @media screen and (max-width: 868px) {
  .list {
    right: -80px;
  }
} */
@media screen and (max-width: 750px) {
  .list {
    right: -120px;
  }
}
@media screen and (max-width: 650px) {
  .list {
    visibility: hidden;
  }
}
